.diseases_title {
	margin-top: 70px;
}

.card-container {
	border: 3px solid rgba(0, 0, 0, 0.125);
	margin-top: 2vh;
}

.provide-card-row {
	display: flex;
	flex-wrap: wrap;
	overflow-wrap: break-word;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 8px;
}
.card-disease {
	border-radius: 16px !important;
	border: 8px solid rgba(0, 0, 0, 0.125);
	width: auto;
}

.search {
	position: absolute;
	right: 8%;
	top: 10%;
}

.autosuggestionSearchField {
	width: 80vw !important;
}
.card-text {
	overflow: hidden;
	width: 90%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.readMoreButton {
	background-color: #646a80;
	border-radius: 8px;
	color: white;
	text-align: center;
	font-size: 20px;
}

.readMoreButton:hover {
	color: #646a80;
}
.searchfield {
	border: 1px solid #999;
	padding: 0.5rem;
	width: 100%;
}
.card-text {
	overflow: hidden;
	width: 90%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card-text {
	overflow: hidden;
	width: 90%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.no-suggestions {
	color: #999;
	padding: 0.5rem;
}

.suggestions {
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 143px;
	overflow-y: auto;
	padding-left: 0;
	width: 100%;
}

.suggestions li {
	padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
	background-color: #cecece;
	color: black;
	cursor: pointer;
	font-weight: 700;
}

.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button .btn {
	color: 2a9d8f !important;
}

.disease-container {
	padding: 0px 100px !important;
}
.SideBar {
	width: 25vw;
	position: fixed;
	top: 3%;
	bottom: 0;
	left: 0;
	background-color: white;
	margin-top: 12vh;

	/* border-right: 1px solid rgb(218, 218, 218); */
	height: 58vh;
}

.SideBar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #555353;
	display: block;
}

.SideBar a:hover {
	color: Black;
	background: rgb(221, 221, 221);
}

.main-div {
	padding: 0px;
}

.dropdown {
	width: 400px;
	font-size: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.ll {
	cursor: pointer;
}

.makeitflex {
	display: inline-flex;
	width: 23%;
	margin: 1% !important;
}

@media (max-width: 1100px) {
	.makeitflex {
		width: 31.3%;
	}
	.dropdown {
		width: 200px !important;
		font-size: 20px;
	}
}
@media (max-width: 768px) {
	.makeitflex {
		width: 48%;
	}
	.card-container {
		width: 100% !important;
	}
	.disease-container {
		padding: 0px 0px !important;
		margin: auto;
	}
	/* .dropdown {
		position: absolute;
		top: -20%;
	} */
}
@media (max-width: 500px) {
	.makeitflex {
		width: 90%;
	}
	.search {
		padding-top: 20px;
		margin: auto;
	}
	.provide-card-row {
		margin-top: 5%;
		padding-left: 30px;
	}
	.main-div {
		padding-top: 5%;
	}
	.dropdown {
		margin: auto;
	}
}

/* @media (max-width: 900px) {
	.makeitflex {
		width: 48%;
	}
} */

.scroll-y {
	overflow-y: auto;
	height: 28rem;
}

/* .flex-container{
    width: 50%;
  } */

.cursor-pointer {
	cursor: pointer;
}

.card-body {
	padding: 10px;
}

.act {
	background-color: blue;
	/* color: white; */
}

.act > strong {
	color: white;
}

.searchbox {
	padding-left: 60%;
	padding-right: 2%;
}

.form-inline {
	padding-top: 5px;
}

@media screen and (max-width: 500px) {
	.makeitflex {
		width: 90%;
	}
}

@media screen and (max-width: 980px) {
	.searchbox {
		padding-left: 40%;
	}
}

@media screen and (max-width: 800px) {
	.searchbox {
		padding-left: 30%;
	}
}

@media screen and (max-width: 600px) {
	.searchbox {
		padding-left: 20%;
	}
}

@media screen and (max-width: 400px) {
	.searchbox {
		padding-left: 0;
	}
}
