.card-shadow {
	border: 2px solid black;
}

._card {
	height: 15px;
}

.card-img-top {
	width: 310px;
	height: 40px !important;
	margin: 35px 35px 35px 35px !important;
}

.des {
	size: 20px;
}
/*color: #24a06a*/

.lead {
	font-size: 16px;
	padding: 2em;
}

.divider {
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
	.mobHide {
		display: none;
	}
}
