.link {
	color: grey;
}

.link:hover {
	color: white;
	text-decoration: none;
}

.heading {
	color: #d9d9d9;
	font-weight: 500;
}

.img-css {
	width: 100px;
	height: 100px;
	align-self: middle;
	margin: 50px 20px;
	margin-top: 24px;
}

._color {
	color: white;
}

/* ._pd-left {
	padding-left: 22px !important;
}
.footer-copyright {
	margin-top: -114px;
	margin-left: 85px;
} */
.abc {
	margin-top: -23px;
	padding-right: 79px;
}
.icon {
	margin-left: -61px;
	margin-right: 0px;
	padding-right: 0;
	margin-top: -34px;
}

.footer {
	height: 300px;
}
